name: Build MRTF-NFC APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Purge Gradle Caches
      run: rm -rf ~/.gradle

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3
      with:
        cache-disabled: true

    - name: Fix permissions
      run: |
        chmod +x gradlew
        chmod +x gradle/wrapper/gradle-wrapper.jar

    - name: Build Debug APK
      run: ./gradlew :app:assembleDebug --stacktrace

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: mrtf-nfc-debug
        path: app/build/outputs/apk/debug/app-debug.apk
